body {
  padding: 0;
  margin: 0;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
}

.list-group-item .form-check-input {
  margin-top: 0;
}

.form-control {
    padding-left:0.5rem;
    padding-right: 0.5rem;
}

.form-control:focus, .btn:focus-visible {
    box-shadow: none;
}

.list-wrapper .btn-link {
  color: inherit;
}

.list-wrapper .btn-link:hover {
  text-decoration: none !important;
  color:inherit;
}

.alert.position-absolute {
  bottom:0;
}

.content-container .form-container {
  padding-bottom: 6rem;
}

.analyze-container li, .analyze-container ul {
  list-style-type: none;
  padding:0;
  margin:0
}

.analyze-container ul {
  margin-top:0.5rem;
}

.overview-container span:after {
  content: "·";
  display: inline-block;
  position: relative;
  padding-left:1rem;
  padding-right: 1rem;
}

.overview-container span:last-of-type:after {
  display: none;
}

.single-hit code {
  opacity: 0.8;
  color:var(--bs-secondary);
}